.background-carol-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 40px;
    background-color: var(--light-yellow);
}

.background-carol-about h1 {
    margin-bottom: 24px;
}

.carol-foto {
    display: flex;
    justify-content: center;
}

.carol-foto img {
    max-width: 430px;
    height: auto;
    position: relative;
    top: 75px;
}

.introducao-about {
    margin: 109px 112px 121px 106px;
    align-self: start;
}

.nossa-historia {
    margin: 160px 335px 0px 335px;
    text-align: center;
}

.nossa-historia p {
    margin-bottom: 76px;
}

.nossa-historia h2 {
    margin-bottom: 24px;
}

.pedra-foto {
    width: 199px;
    height: auto;
    position: absolute;
}

.selo-amazonita {
    width: 179.85px;
    height: auto;
    position: relative;
    top: 35px;
    left: 373.5px;

    filter: drop-shadow(0px 5px 22px rgba(58, 43, 9, 0.3));
    transform: rotate(9.83deg);
}

.banner-about {
    background: var(--yellow);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 40px 65px 40px;
    padding: 50px 0
}

.banner-about img {
    width: 402px;
    height: auto;
}

.nossos-valores h2 {
    text-align: center;
    margin-bottom: 73px;
}

.valores {
    display: flex;
    justify-content: space-around;
    margin: 0 185px;
}

.valores-icons {
    width: 259px;
    height: auto;
    align-items: center;
    text-align: center;
}

.valores-icons h4{
    margin: 20px 0px;
    color: var(--light-green);
}

.valores-icons p {
    font-size: 14px;
}

.about-pedido {
    margin: 0 40px 20px 40px;
    height: 160px;
    text-align: center;
}

.about-pedido h3 {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 30px;
}