.tituloabout {
    display: none;
}

.background-carol-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 40px;
    background-color: var(--background-yellow);
}

.background-carol-about h1 {
    margin-bottom: 24px;
}

.carol-foto {
    display: flex;
    justify-content: center;
}

.carol-foto img {
    max-width: 430px;
    height: auto;
    position: relative;
    top: 75px;
}

.introducao-about {
    margin: 109px 112px 121px 106px;
    align-self: start;
}

.nossa-historia {
    margin: 160px 335px 76px 335px;
    text-align: center;
}

.nossa-historia h2 {
    margin-bottom: 24px;
}

.small-images {
    display: flex;
    justify-content: center;
}

.pedra-foto {
    width: 199px;
    height: auto;
    position: absolute;
}

.selo-amazonita {
    width: 179.85px;
    height: auto;
    position: relative;
    top: 35px;
    left: 373.5px;

    filter: drop-shadow(0px 5px 22px rgba(58, 43, 9, 0.3));
    transform: rotate(9.83deg);
}

.banner-about {
    background: var(--background-yellow);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 40px 65px 40px;
    padding: 50px 0
}

.banner-about img {
    width: 402px;
    height: auto;
}

.nossos-valores h2 {
    text-align: center;
    margin-bottom: 50px;
}

.valores {
    display: flex;
    justify-content: space-between;
    margin: 0 185px;
}

.valores-icons {
    width: 365px;
    height: auto;
    align-items: center;
    text-align: center;
}

.valores-icons h4{
    margin: 20px 0px;
    color: var(--light-green);
}

.valores-icons p {
    font-size: 14px;
}

.about-pedido {
    margin: 0 40px 20px 40px;
    height: 160px;
    text-align: center;
}

.about-pedido h3 {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 30px;
}


/* Responsive */
@media screen and (max-width: 835px) {
    .tituloabout {
        background: url(../assets/banner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-carol-about {
        margin: 0 0 0 80px;

        display: flex;
        flex-wrap: wrap-reverse;
    }

    .introducao-about {
        margin: 40px 80px 40px 80px;
    }

    .carol-foto img {
        max-width: 430px;
        height: auto;
        top: 0;
    }

    .nossa-historia {
        margin: 55px 150px 76px 150px;
        display: flex;
        flex-direction: column;

    }

    .small-images {
        display: flex;
        justify-content: center;
        margin-bottom: 230px;
    }

    .pedra-foto {
        width: 322px;
        height: auto;
    }

    .selo-amazonita {
        width: 180px;
        height: 180px;
        top: 160px;
        left: 200px;
    }

    .banner-about {
        display: none;
    }

    .valores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 40px 119px 40px;
        gap: 4rem;
    }

    .valores-icons {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 429px) {
    .background-carol-about {
        margin: 0 0 81px 25px;
    }

    .carol-foto img {
        width: 357px;
        height: auto;
        top: 0;
        right: 55px;
    }

    .introducao-about {
        margin: 38px 0 0 40px;
    }

    .introducao-about h1 {
        font-size: 32px;
        margin: 0 40px 30px 0;
    }
    
    .introducao-about p {
        margin: 0 40px 30px 0;
    }

    .nossa-historia {
        margin: 80px 40px 
    }

    .small-images {
        justify-content: start;
    }

    .pedra-foto {
        left: -30px;
    }

    .selo-amazonita {
        width: 130px;
        height: 130px;
        top: 60px;
        left: 245px;
    }

    .nossos-valores {
        margin-top: 300px;
    }

    .nossos-valores h2 {
        margin-bottom: 30px;
    }

    .valores {
        margin: 0 40px;
    }

    .about-pedido h3 {
        margin-top: 84px;
    }
}

