.backgroundFaq {
    background-image: url(../assets/backgroung-faq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tituloFaq {
    background-image: url(../assets/banner2.svg);
    margin: 0 40px 76px 40px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloFaq h1 {
    font: 700 40px 'Sora', sans-serif;
    color: #455600;
    text-align: center;
}

.textoFaq {
    margin: 0px 435px 93px 435px;
}

h1 {
    font: 700 40px 'Sora', sans-serif;
    color: #455600;
}

h3 {
    font: 700 20px 'Sora', sans-serif;
    color: #282110;
    margin-bottom: 12px;
}

p {
    font: 400 16px 'Lexend', sans-serif;
    color: #282110;
    margin-bottom: 45px;
}

.duvidaLink{
    margin: 0 40px 20px 40px;
    height: 160px;
    text-align: center;
}

h2 {
    font: 700 24px 'Sora', sans-serif;
    color: #455600;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.budgetFaq {
    font: 800 13px 'Sora', sans-serif;
    text-transform: uppercase;
    padding: 12px 22px;
    background: #2A3207;
}

.budgetFaq img {
    margin-right: 10px;
    width: 13px;
    height: 13px;
}

.underline {
    border: 1px solid #455600;
    width: 99px;
    margin-bottom: 45px;
}