.backgroundFaq {
    background-image: url(../assets/backgroung-faq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tituloFaq {
    background-image: url(../assets/banner2.svg);
    background-size: cover;
    background-position: center;
    margin: 0 40px 76px 40px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloFaq h1 {
    text-align: center;
}

.textoFaq {
    margin: 0px 435px 93px 435px;
}

.textoFaq h4 {
    margin-bottom: 12px;
}

.textoFaq p {
    margin-bottom: 45px;
}

.duvidaLink {
    margin: 0 40px 20px 40px;
    height: 160px;
    text-align: center;
}

.duvidaLink h3 {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 30px;
}

.underline {
    border: 1px solid var(--green);
    background: var(--green);
    width: 99px;
    margin-bottom: 45px;
}

/* Responsive */

@media (max-width: 834px) {
    .tituloFaq {
        margin: 0 0px 76px 0px;
    }

    .textoFaq {
        margin: 0 150px;
    }
}

@media (max-width: 428px) {
    .textoFaq {
        margin: 0 50px;
    }
}