.background-galeria {
    background: url(../assets/backgroung-faq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo-galeria {
    background-image: url(../assets/banner.svg);
    background-size: cover;
    background-position: center;
    margin: 0 40px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-galeria {
    margin: 56px 40px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.75rem;
}

.catalogo .card {
    width: 260px;
    height: auto;
}

.fotos-galeria img {
    width: 260px;
    height: 390px;
}

.info-produto1,
.info-produto2 {
    display: flex;
}