.bannermain {
    margin: 0 40px 250px 40px;
    background: url(../assets/banner-home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.texto-header {
    margin: 0 95px;
    text-align: start;
}

.texto-header h1 {
    margin: 160px 0 24px 0;
}

.texto-header p {
    font-size: 18px;
    margin-bottom: 74px;
}

.imagens-header {
    max-width: 550px;
    height: auto;
    margin-right: 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 106px;
    gap: 32px;
}

.imagens-header .img1,
.imagens-header .img2 {
    display: flex;
    flex-direction: column;
}

.imagens-header .img1 img {
    width: 319px;
    height: auto;
}

.imagens-header .img2 img{
    width: 185px;
    height: auto;
}

.imagens-header .img2 .gap {
    margin-top: 32px;
}

.carrossel-main {
    margin-bottom: 136px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.texto-carrossel {
    margin: 0 135px;
}

.texto-carrossel h2,
.texto-carrossel p {
    margin-bottom: 20px;
}

.sugestoes {
    width: 450px;
    height: auto;
    background: var(--background-yellow);
    padding: 10px;
}

.sugestoes h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.lista-sugestoes {
    display: flex;
    justify-content: space-between;
}

.lista-sugestoes ul {
    font: 400 16px 'Lexend', sans-serif;
    margin-left: 18px;
}

.lista-sugestoes ul li {
    list-style: disc;
}

.slider-componente {
    margin-right: 149px;
}

.passos-venda {
    margin: 0 405px 60px 405px;
}

.passos-venda h2{
    margin-bottom: 54px;
}

.passos-venda .como-funciona1,
.passos-venda .como-funciona2, 
.passos-venda .como-funciona3,
.passos-venda .como-funciona4 {
    display: flex;
    align-items: flex-start;
}

.como-funciona img { 
    margin-right: 61px;
}

.como-funciona h4 {
    margin-bottom: 10px;
}

.como-funciona p {
    margin-bottom: 40px;
}

.home-btn-pedido {
    text-align: center;
    margin-bottom: 125px;
}

.background-carol-home {
    margin: 0 40px 180px 40px;
    background: var(--background-yellow);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.introducao-home {
    margin: 92px 135px 0 195px;
}

.introducao-home h2 {
    margin-bottom: 20px;
}

.introducao-home p {
    margin-bottom: 40px;
}

.link-about {
    font: 700 14px 'Sora', sans-serif;
    color: var(--green);
}

.carol-foto2 {
    display: flex;
    justify-content: center;
    margin-right: 195px;
}

.carol-foto2 img{
    width: 368px;
    height: auto;
    position: relative;
    top: 87px;
}